video{
    pointer-events: none;
}

.col-2{
    background: #A5D6D9;
}

.col-4{
    background: #648689;
}

.col-5{
    background: #4b6164;
}

.field{
    height: 20vh;
    margin: 0px;
}

.card:hover{
    background: rgba(147, 147, 147, 0.63);
}