body {
    background-image: url("/static/media/fire.gif");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;

}

.embed-responsive video {
    pointer-events: none;
}

.col-3 {
    padding: 0;
}

.battlefield {
    width: 70%;
}

.battlecard {
    width: 80%;
    transition: 1s;
    float: left;
    transition-duration: 3s;
}

.card {
    border-radius: 8px;
    color: black;
    margin-right: 1%;
    margin-bottom: 1%;
}

.field {
    height: 20vh;
    margin: 5%;
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 61px 12px rgba(0, 0, 0, 0.76);
}

.card:hover {
    background: rgba(147, 147, 147, 0.49);
}

.game-status {
    height: 10vh;
}

.inline {
    display: -webkit-box;
}

.mana, .inliner {
    display: -webkit-box;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
}

.mentorImg {
    margin-top: 10%;
}

.studentImg {
    width: 80%;
}

.battleHero {
    width: 55%;
}

.navbar-brand {
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
}

.studentRow {
    padding: 0 0 0 2%;
}

.mentorRow {
    padding: 0 0 0 20.5%;
}

.speech-bubble-ds {
    background: #efefef;
    border: 1px solid #a7a7a7;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
    font-size: 1.1rem;
    color: #444444;
    line-height: 1.3;
    margin: 10px 10px 10px 10px;
    max-width: 400px;
    padding: 10px;
    position: relative;
}

.speech-bubble-ds p {
    margin-bottom: 10px;
}

.speech-bubble-ds p:last-of-type {
    margin-bottom: 0;
}

.student-speech-bubble-ds-arrow {
    border-left: 21px solid transparent;
    border-top: 20px solid rgba(0, 0, 0, 0.2);
    bottom: -25px;
    position: absolute;
    left: 15px;
}

.student-speech-bubble-ds-arrow::before {
    border-left: 23px solid transparent;
    border-top: 23px solid #a7a7a7;
    bottom: 2px;
    content: "";
    position: absolute;
    right: 5px;
}

.student-speech-bubble-ds-arrow::after {
    border-left: 21px solid transparent;
    border-top: 21px solid #efefef;
    bottom: 4px;
    content: "";
    position: absolute;
    right: 6px;
}

.mentor-speech-bubble-ds-arrow {
    border-left: 21px solid transparent;
    border-top: 20px solid rgba(0, 0, 0, 0.2);
    top: -21px;
    position: absolute;
    right: 15px;
    transform: rotate(180deg);
}

.mentor-speech-bubble-ds-arrow::before {
    border-left: 23px solid transparent;
    border-top: 23px solid #a7a7a7;
    bottom: -3px;
    content: "";
    position: absolute;
    right: -7px;
}

.mentor-speech-bubble-ds-arrow::after {
    border-left: 21px solid transparent;
    border-top: 21px solid #efefef;
    bottom: 0;
    content: "";
    position: absolute;
    right: -6px;
}